* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

p {
  font-size: 18px;
  padding: 10px 0;
}

ul {
  list-style: none;
}

header, footer {
  background-color: #06D6A0;
  height: 60px;
  width: 100%;
  padding: 0 10px;
}

h1, li {
  display: inline-block;
  padding: 12px 6px;
}

h1  {
  float: left;
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

nav {
  float: right;
  margin: 4px;
}

a {
  font-size: 20px;
}

main {
  max-width: 900px;
  margin: auto;
}

#hero {
  overflow: hidden;
  float: left;
  background-color: #26547C;
  color: white;
  text-align: center;
  font-size: 26px;
}

.hero-image {
  float: left;
  width: 60%;
}

img {
  width: 100%;
}

#cats-text, #products, #last {
  padding: 30px 20px;
}

h3 {
  padding-bottom: 30px;
}

#cats-text {
  clear: both;
  background-color: #FFD166;
}

#products {
  background-color: #F2F2F2;
}
 #products ul {
   overflow: hidden;
   margin: 0;
   padding: 0;
 }

 #products li {
   float: left;
   width: 33%;
   padding: 10px;
 }

 #products img {
   border: 3px solid black;
 }

 #last {
   clear: both;
   background-color: #26547C;
   color: white;
 }

.keywords {
  overflow: hidden;
  height: 40px;
}

.keywords h4 {
  float: left;
  width: 33.3333333%;
  color: #EF476F;
  text-align: center;
  font-size: 22px;
}

footer {
  text-align: right;
  padding: 12px;
}
