* {
  /*display: inline-block;*/
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  background-color: #42f4d1;
  height: 60px;
  width: 100%;
  padding: 0 10px;
}

h1, li {
  display: inline-block;
}

h1  {
  float: left;
  color: white;
  font-size: 26px;
  text-align: center;
}

nav {
  float: right;
}

main {
  max-width: 900px;
  margin: auto;
}

#hero {
  overflow: hidden;
  float: left;
  background-color: #26547C;
  color: white;
  text-align: center;
  font-size: 26px;
}

.hero-image {
  float: left;
  width: 60%;
}

img {
  width: 100%;
}
